<!DOCTYPE html>
<html>
  <head>
    <!-- load libraries i'll be using -->
    <script src="js/libraries/angular.min.js"></script>
    <script src="js/myMetroModule.js"></script>

    <!-- load the controllers i'll be using -->
    <script src="js/controllers/MetroCtrl.js"></script>
    <!--<script src="js/controllers/LineCtrl.js"></script>-->

    <!-- load the services i'll be using -->
    <script src="js/factories/Lines.js"></script>
    <script src="js/factories/LineData.js"></script>
    <script src="js/factories/PathBtwnStations.js"></script>
    <script src="js/factories/Prediction.js"></script>

    <!-- load the css i'll be using -->
    <link href="css/firstApp.css" rel="stylesheet">
  </head>
  <body ng-app="myMetroModule" ng-controller="MetroCtrl">
    <table class="metro-table">
      <thead>
	<tr>
	  <th class="metro-table-cell" colspan="6">Washington D.C. Metro Lines</th>
	</tr>
      </thead>
      <tbody>
	<tr>
          <!-- onclick = get path -->
	  <td class="metro-table-cell"
	      ng-repeat="(metroCode, metroData) in lines"
	      ng-click="displayPathdata(metroData.StartStationCode, metroData.EndStationCode)">
	    {{ metroData.DisplayName }}
	  </td>
	  <!-- end get path list -->
	</tr>
      </tbody>
    </table>
    <!-- prediction data about the line's stops -->
    <div class="prediction-content">
      <h1>{{ lines[lineCode].DisplayName }} Predictions</h1>
      <table id="prediction-table" border=1 border-color="#000000">
        <thead id="prediction-head">
          <tr>
            <th>Station Name</th>
            <th>Prediction Data</th>
          </tr>
        </thead>
        <tbody id="prediction-body" ng-repeat="station in pathList track by $index">
          <tr class="prediction-row">
            <td class="prediction-cell">{{station.stationName}}</td>
            <td class="prediction-cell">
              <div class="line-prediction" ng-repeat="(lineName, lineDests) in predictionData[station.stationCode] track by $index">
                <div ng-if="lineName != 'No Line'">
                  {{lineName}}<br>
                  <table class="destination-table" ng-repeat="(destinationName, stationPredictions) in lineDests track by $index">
                    <thead>
                      <tr>
                        <th class="destination-header" colspan="{{stationPredictions.length}}">{{destinationName}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="destination-cell" ng-repeat="pred in stationPredictions track by $index">{{pred}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
